.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  // font-family: Arial, Helvetica, sans-serif;
  background: rgb(95, 168, 165);
}
li,
ul {
  // margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
