.header {
  text-align: center;
  font-size: 40px;
  color: #7a2020;
  padding-bottom: 30px;
}

.movie-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 30px;
  list-style-type: none;
  box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.2);

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
    // flex-basis: calc(100% / 2 - 30px);
    max-width: 500px;
    // padding: 20px 0px 0px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.2);
    transform: scale(1);
    background-color: #e09183;
    transform: scale(1);
    transition: transform 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    &:hover,
    &:focus {
      transform: scale(1.04);
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: #7a2020;
    // color: rgb(15, 33, 82);
    padding-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0px 1px 1px #b96045;
  }
  &__desc {
    font-size: 26px;
    color: #e09183;
    background-color: #7a2020;

    padding: 2px 8px;
    border-radius: 8px;
    font-weight: 500;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--box {
      margin-bottom: 30px;
      font-weight: 500;
    }
  }
  &__img {
    border-radius: 4px;
    min-width: 450;
    height: 750px;
  }
  ///cast
  &__cast--name,
  &__cast--character {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }
  &__cast--name {
    color: #e09183;
    background-color: #7a2020;
    padding: 8px 10px;
    border-radius: 5px;
  }
  &__cast--character {
    color: #350a0a;
  }
  &__cast-box {
    margin-top: 30px;
    margin-bottom: 20px;
    list-style-type: none;
  }
}
