.header {
  text-align: center;
  font-size: 40px;
  color: #853f33;
}

.movie-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 50px 30px;
  // border: 1px solid #afb1b8;
  list-style-type: none;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
    max-width: 500px;
    padding: 20px 0px 0px;
    border-radius: 8px;
    border: 1px solid #afb1b8;
    box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.2);
    transform: scale(1);
    background-color: #e2a499;
    transform: scale(1);
    transition: transform 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    &:hover,
    &:focus {
      transform: scale(1.055);
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: #aa3535;
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 26px;
    color: rgb(9, 14, 75);
    background-color: #aa3535;

    padding: 2px 8px;
    border-radius: 8px;
    font-weight: 500;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--box {
      margin-bottom: 30px;
      font-weight: 500;
    }
  }
  &__img {
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
  }
}
// .form {
//   &__box {
//     align-items: center;
//     color: #8d125a;
//   }

//   &__label {
//     font-size: 26px;
//     margin-right: 10px;
//   }
//   &__input {
//     border-radius: 5px;
//     font-size: 30px;
//     padding: 8px 4px;
//     background-color: #e2a499;
//     border-color: #e2a499;
//     color: #881a07;

//     &:hover,
//     &:focus {
//       background-color: #e2a499;
//       border-color: #ac503f;
//       outline: 2px solid #ac503f;
//     }
//   }
//   &__btn-thumb {
//     display: block;
//     text-align: center;
//     margin-top: 30px;
//   }
//   &__addBtn {
//     width: 200px;
//     height: 60px;
//     border-radius: 5px;
//     background-color: #8d125a;
//     color: #d3897c;
//     font-size: 20px;
//     font-weight: 500;
//     transform: scale(1);
//     box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
//     transition: transform 250 cubic-bezier(0.23, 1, 0.32, 1),
//       color 250 cubic-bezier(0.23, 1, 0.32, 1),
//       background-color 250 cubic-bezier(0.23, 1, 0.32, 1);
//     &:hover,
//     &:focus {
//       transform: scale(1.1);
//       background-color: rgb(172, 8, 71);
//       color: #d3897c;
//     }
//   }
// }
