.form {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 450px;
    height: 40px;
    border-radius: 8px;
    font-size: 32px;
    padding: 8px 4px;
    background-color: #e09183;
    margin-bottom: 20px;
    // border-color: 2px solid#e09183;
    color: #7a2020;
    outline: 2px solid #7a2020;

    &:hover,
    &:focus {
      background-color: #cc8174;
      outline: 2px solid #ac503f;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 80px;
    margin-left: 30px;
    font-size: 32px;
    font-weight: 700;
    border-radius: 8px;
    color: #e09183;
    background-color: #7a2020;
    transform: scale(1);
    box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
    transition: transform 250 cubic-bezier(0.23, 1, 0.32, 1),
      color 250 cubic-bezier(0.23, 1, 0.32, 1),
      background-color 250 cubic-bezier(0.23, 1, 0.32, 1);
    &:hover,
    &:focus {
      transform: scale(1.1);
      color: #7a2020;
      background-color: #c46251;
    }
  }
}
