.nav {
  text-decoration: none;
  color: #853f33;
  font-size: 40px;
  font-weight: 700;
  &:hover,
  &:focus {
    color: #e09183;
  }
  &__box {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 500px;
    padding: 20px 15px;
    border-radius: 8px;
    // border: 1px solid rgb(221, 144, 131);
    // box-shadow: 4px 4px 8px 5px rgba(221, 144, 131, 0.2);
  }
  &__active {
    color: #eba99e;
    text-decoration: none;
  }
}
.back {
  &__btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    // min-width: 200px;
    margin-right: 20px;
    min-width: 150px;
    min-height: 58px;
    padding: 10px 8px;
    font-size: 28px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #853f33;
    color: #eba99e;
    margin-bottom: 50px;
    &:hover,
    &:focus {
      background-color: #e09183;
      color: #853f33;
      // color: #471911;
      // background-color: #b86253;
    }
  }
  &__text {
    text-decoration: none;
  }
}
